@using Smartstore.Core.Checkout.Orders

@model ReturnCaseListModel

@{
    var isSingleStoreMode = (bool)ViewBag.IsSingleStoreMode;
}

<div class="form-group">
    <smart-label asp-for="SearchId" />
    <editor asp-for="SearchId" class="form-control-sm" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchReturnCaseKind" />
    <select asp-for="SearchReturnCaseKind" asp-items="Html.GetLocalizedEnumSelectList(typeof(ReturnCaseKind)).Reverse()" asp-placeholder="@T("Admin.Common.All")" class="form-control-sm"></select>
</div>
<div class="form-group">
    <smart-label sm-text="@T("Common.CreatedOn")" sm-ignore-hint="true" asp-for="StartDate" />
    <div class="form-row">
        <div class="col-6">
            <editor asp-for="StartDate" asp-additional-viewdata='new { size = "sm" }' placeholder="@T("Common.From")" />
        </div>
        <div class="col-6">
            <editor asp-for="EndDate" asp-additional-viewdata='new { size = "sm" }' placeholder="@T("Common.To")" />
        </div>
    </div>
</div>
<div class="form-group">
    <smart-label asp-for="OrderNumber" />
    <input asp-for="OrderNumber" class="form-control-sm" />
</div>
<div class="form-group">
    <smart-label asp-for="CustomerName" />
    <editor asp-for="CustomerName" asp-template="SearchExpression" class="form-control-sm" />
</div>
<div class="form-group">
    <smart-label asp-for="CustomerEmail" />
    <editor asp-for="CustomerEmail" asp-template="SearchExpression" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchStatusId" />
    <select asp-for="SearchStatusId" asp-items="Html.GetLocalizedEnumSelectList(typeof(ReturnCaseStatus))" asp-placeholder="@T("Admin.Common.All")" class="form-control-sm"></select>
</div>
<div sm-if="!isSingleStoreMode" class="form-group">
    <smart-label asp-for="SearchStoreId" />
    <editor asp-for="SearchStoreId" class="form-control-sm" />
</div>