@using Smartstore.Web.Models.Catalog;

@model ProductSummaryItemModel

@{
    var list = Model.Parent;
    var isTouchDevice = list.IsTouchDevice;
    var numTotalColorAttributes = Model.ColorAttributes?.Count ?? 0;
    var numMaxColorAttributes = Math.Min(16, isTouchDevice ? 7 : 16);
}

<div class="art-variant-info" attr-class='(isTouchDevice, "px-0 pt-2 mb-0")'>
    @if (numTotalColorAttributes > 0)
    {
        <nav class="art-color-opts" attr-class='(isTouchDevice, "flex-nowrap")' role="listbox" aria-orientation="horizontal" aria-label="@Model.ColorAttributes[0].AttributeName">
        @foreach (var clr in Model.ColorAttributes.Take(numMaxColorAttributes))
        {
            var title = T("Products.ChooseColorX", clr.FriendlyName, clr.AttributeName);
            <a href="@clr.ProductUrl" 
                class="art-color-opt" 
                style="background-color: @clr.Color" 
                role="option" 
                aria-label="@title" 
                title="@title">
                <span class="sr-only">@clr.FriendlyName</span>
            </a>
        }
        @if (numTotalColorAttributes > numMaxColorAttributes)
        {
            <span class="fwm art-opt-plus">+@(numTotalColorAttributes - numMaxColorAttributes)</span>
        }
        </nav>
    }
    <div sm-if="Model.Attributes.Count > 0" class="art-more-opts">
        @{
            var displayClass = isTouchDevice && Model.Attributes.Count == 1 ? "d-inline" : "d-block";
        }
        <span class="bidi-embed@(list.ViewMode == ProductSummaryViewMode.List ? "" : displayClass.LeftPad())">
            @T(Model.Attributes.Count == 1 ? "Products.PlusOption" : "Products.PlusOptions"):
        </span>
        <a href="@Model.DetailUrl" class="art-more-opt-link text-truncate @displayClass">
            <span class="fwm bidi-embed" sm-language-attributes-for="Model.Attributes[0].Name">@string.Join(", ", Model.Attributes.Select(x => x.Name.ToHtmlString())).Truncate(50, "...")</span>
        </a>
    </div>
</div>